
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
  scrollbar-width: none;
}
body {
  background-color: #043d6a;
  color: white;

  /* background-color: white;
    color: rgb(34, 34, 34); */

  font-family: "Inter";
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  flex-direction: column;
  line-height: 12px;
}

li {
  display: inline-block;
  margin: 20px;
}

a {
  color: white;
}

#conheca_mais-btn {
  border: 2px solid #ffdb;
  padding: 6px;
  border-radius: 10px;
  color: white;
  color: #ffdb58;
}

#conheca_mais-btn:hover {
  background-color: rgba(206, 206, 206, 0.227);
  color: white;
}

h1 {
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.slider{
  margin: 0 auto;
  width: 510px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img{
  width: 400px;
  border-radius: 10px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  left: 575px;
}

.manual-btn{
  border: 2px solid #ffffff;
  padding: 6px;
  margin-top: 45px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#radio01:checked ~ .first{
  margin-left: 0;
}

#radio02:checked ~ .first{
  margin-left: -25%;
}

#radio03:checked ~ .first{
  margin-left: -50%;
}

#radio04:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid white;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 405px;
  display: flex;
  justify-content: center;
  left: 575px;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio01:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}

#radio02:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#radio03:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
}

#radio04:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
}

h2 {
  font-size: 46px;
  line-height: 12px;
  font-family: "Inter";
}

h3 {
  font-size: 27px;
  line-height: 10px;
  font-family: "Inter";
}

span {
  color: #ffdb58;
}

p {
  line-height: 20px;
  max-width: 600px;
  font-family: "Inter";
  
}

#estrutura {
  margin-top: 30px;
  padding: 30px;
  background-color: #1e2a38;
  border-radius: 11px;
}

#estrutura h3 {
  font-size: 25px;
  color: #ffdb58;
  text-align: center;
}

#estrutura h4 {
  font-size: 18px;
  color: #ffdb58;
}

#estrutura p {
  font-size: 15px;
  line-height: 27px;
  max-width: 1150px;
  text-align: justify;
  font-family: "Inter";
}

/*CARDS*/

.titulo {
  font-size: 27px;
  font-family: "Inter";
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  gap: 63px;
  padding: 147px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.4s;
  padding: 5px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 229px;
  border-radius: 10px;
}

.card h2 {
  font-size: 16px;
  text-align: center;
  margin: 17px 0;
  color: rgb(34, 34, 34);
  line-height: 13px;
}


.card button {
  background: linear-gradient(90deg, #007BFF, #0056b3); /* Gradiente de fundo */
  color: white;
  border: none;
  padding: 6px 55px; 
  border-radius: 11px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.3s; 
  font-size: 14px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card button:hover {
  background-color: #0056b3;
}


.maps {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 25px 0; /* Espaçamento acima e abaixo do mapa */
  padding: 15px; /* Espaçamento interno */
  background-color: #1e2a38; /* Fundo para destacar o mapa */
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}

.maps h3 {
  font-size: 15px;
  color: #ffdb58;
  text-align: center;
}

.maps {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 45px 0; 
  padding: 23px; 
  background-color: #1e2a38; 
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.maps h2 {
  font-size: 22px;
  color: #ffdb58; 
  margin-bottom: 10px; 
}

.maps h3 {
  font-size: 14px;
  color: white;
  text-align: center;
  margin-bottom: 20px; 
}

.maps iframe {
  border: none; 
  border-radius: 8px;
  max-width: 100%; 
  height: 450px;
}

footer {
  background-color: #1e2a38;
  color: #ffffff;
  text-align: center;
  padding: 1px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

